.navbar {
    background: linear-gradient(to right, #00a000, #006400);
    font-size: 20px;
  }
  

.navbar li {
    margin-right: 10px;
}

.rodape {
    background-color: #f2f2f2;
    padding: 20px 0;
    color: #666666;
  }
  
  .conteudo-rodape {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .coluna-rodape {
    flex-basis: 30%;
  }
  
  .coluna-rodape h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .lista-redes-sociais {
    list-style-type: none;
    padding: 0;
  }
  
  .lista-redes-sociais li {
    display: inline;
    margin-right: 10px;
  }
  
  .lista-redes-sociais li a {
    color: #666666;
    text-decoration: none;
  }
  
  .direitos-autorais {
    background-color: #ebebeb;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #999999;
  }

  /* Estilo dos botões */
.btn {
  background-color: DodgerBlue; /* Fundo azul */
  border: none; /* Remover bordas */
  color: white; /* Texto branco */
  padding: 12px 16px; /* Algum preenchimento */
  font-size: 24px; /* Definir um tamanho de fonte */
  cursor: pointer; /* Ponteiro do mouse ao passar o mouse */
}

/* Fundo mais escuro ao passar o mouse */
.btn:hover {
  background-color: green;
}

/* Estilo das opções */
.option {
  display: inline-block;
}

.option p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.option {
  margin: 5px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.card:active {
  transform: scale(0.95);
}

.card {
  width: 75%;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}


.btn:hover, .btn:active {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
}
